
<div class='grid grid--collapsable actual-content--reverse'>
	<div class='grid__column grid__column--span-3'>
		<div class='grid__box'>
			{% 
				include 'components/section-partners.twig' with {
					'post': reference_post,
					'exclude_categories': exclude_categories
				}
			%}
		</div>
	</div>
	<div class='grid__column'><!-- dummy --></div>
</div>