
<div class='grid grid--collapsabe actual-content--reverse'>
	<div class='grid__column grid__column--span-3'>
		<div class='grid__box'>
			<hr>
			{% 
				include 'components/section-partners.twig' with {
					'post': reference_post
				}
			%}
		</div>
	</div>
	<div class='grid__column'><!-- dummy --></div>
</div>