{% extends "base.twig" %}

{% block title %}
{% endblock %}

{% block content %}
	{% 
		include 'components/breadcrumbs.twig' with {
			'post': {
				'title': title
			}
		}
	%}
	
	<div class='grid actual-content'>
		<div class='grid__column grid__column--span-3' data-readmore-parent>
		{% if posts | length > 0 %}
			{% for post in posts %}
				{% include 'components/tease-post.twig' %}
			{% endfor %}
		{% else %}
			{{__('Nu există știri încă', 'apparitions')}}
		{% endif %}
		</div>
		<div class='grid__column'><!-- dummy --></div>
	</div>

	{% include 'components/pagination-general.twig' %}
{% endblock %}