{% extends "base.twig" %}

{% block title %}
{% endblock %}

{% block content %}
	{% 
		include 'components/breadcrumbs.twig' with {
			'post': {
				'title': title
			}
		}
	%}
	
	<div class='grid actual-content'>
		<div class='grid__column grid__column--span-3'>
			<div class='grid__box'>
				{% if posts | length > 0 %}
					{% for post in posts %}
						{% include 'components/tease-post.twig' %}
					{% endfor %}
				{% else %}
					{{__('Nu există știri încă', 'apparitions')}}
				{% endif %}
			</div>
		</div>
		<div class='grid__column'><!-- dummy --></div>
	</div>
	<div class='grid'>
		<div class='grid__column grid__column--span-3'>
			<div class='grid__box'>
				{% include 'components/pagination-general.twig' %}
			</div>
		</div>
		<div class='grid__column'><!-- dummy --></div>
	</div>

{% endblock %}