{% block html_head_container %}
	{% include 'components/html-header.twig' %}
	{% block head %}
		<!-- empty your head -->
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}} grid grid--collapsable">

		<header class="grid__column">
			{% block header %}
				{% include 'components/header.twig' %}
			{% endblock %}
		</header>

		<div class='grid__column grid__column--span-4'>
			<div class='grid grid--reverse grid--collapsable'>
				

				<div class='grid__column grid__column--span-3'>
					{% include 'components/hero.twig' %}
				</div>

				<div class='grid__column'>
					<img class='biennale-logo' width='108' height='100' src='{{site.theme.link}}/static/svg/logos/biennale.svg'/>
				</div>
			</div>

			<section role="main">
				{% block title %}
					{% if title %}
						<h1>{{title}}</h1>
					{% endif %}
				{% endblock title %}
				<div class="main-content">
					{% block content %}
						<!-- Content goes here -->
					{% endblock %}
				</div>
			</section>

			<div>
				{% block footer %}
					{% include 'components/footer.twig' %}
				{% endblock %}
			</div>

		</div>
	</body>
</html>
