{% extends "base.twig" %}

{% block content %}
	<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
		{% if not is_home %}
			{% include 'components/breadcrumbs.twig' %}
		{% endif %}

		{% if post.get_field('image') %}
			{% include 'components/featured-image.twig' %}
		{% endif %}

		<div class='grid grid--collapsabe actual-content'>
			<div class='grid__column grid__column--span-3' data-readmore-parent>
				{% if page_template and page_template.media_page %}
					{% include 'components/media-sections.twig' %}
				{% endif %}

				{{post.content}}
			</div>
			{% if not page_template or not page_template.wide_page %}
				<div class='grid__column'><!-- dummy --></div>
			{% endif %}

			{% if page_template and page_template.gallery_page %}
				{% include 'components/gallery.twig' %}
			{% endif %}
		</div>

		{% if page_template and page_template.about_page %}
		<div class='grid'>
			<div class='grid__column grid__column--span-3'>
				{% include 'components/section-partners.twig' %}
			</div>
			<div class='grid__column'><!-- dummy --></div>
		</div>
		{% endif %}
	</article>
{% endblock %}