{% extends "base.twig" %}

{% block content %}
	<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
		{% if not is_home %}
			{% include 'components/breadcrumbs.twig' %}
		{% endif %}

		{% if post.get_field('image') %}
			{% include 'components/featured-image.twig' %}
		{% endif %}

		<div class='grid actual-content'>
			<div class='grid__column grid__column--span-3' data-readmore-parent>
				{{post.content}}
			</div>
			{% if not page_template or not page_template.wide_page %}
				<div class='grid__column'><!-- dummy --></div>
			{% endif %}
		</div>
	</article>
{% endblock %}