{% extends "base.twig" %}

{% block content %}
	<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
		{% if not is_home %}
			{% include 'components/breadcrumbs-post.twig' %}
		{% endif %}

		{% include 'components/masthead-post.twig' %}

		<div class='grid actual-content'>
			<div class='grid__column grid__column--span-3' data-readmore-parent>

				{% if post.get_field('image') %}
					{% 
						include 'components/featured-image.twig' with {
							'floating': true
						}
					%}
				{% endif %}

				{{post.content}}
			</div>
			<div class='grid__column'><!-- dummy --></div>
		</div>

		{% include 'components/pagination-post.twig' %}
	</article>
{% endblock %}