{% extends "base.twig" %}

{% block content %}
	<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
		{% if not is_home %}
			{% include 'components/breadcrumbs-member.twig' %}
		{% endif %}

		{% include 'components/masthead-member.twig' %}

		<div class='grid actual-content'>
			<div class='grid__column grid__column--span-3'>
				<div class='grid__box clearifx'>
					{% if post.get_field('image') %}
						{% 
							include 'components/featured-image.twig' with {
								'floating': true
							}
						%}
					{% endif %}

					{{post.content}}

				</div>
			</div>
			<div class='grid__column'><!-- dummy --></div>
		</div>
		<div class='grid'>
		<div class='grid__column grid__column--span-3'>
			<div class='grid__box'>
				{% include 'components/pagination-post.twig' %}
			</div>
		</div>
		<div class='grid__column'><!-- dummy --></div>
	</div>
	</article>
{% endblock %}