<div class='breadcrumbs'>
	{% set categories = post.terms('category') %}
	{% if categories | length %}
		<a href='{{categories[0].link}}'>{{categories[0].name}}</a> /
	{% endif %}
	<span class='text--onum'>{{ post.post_date | date('d.m.y') }}</span>
</div>