{% if is_home or floating %}
<figure class='featured featured--alternate {% if floating %}featured--floating{% endif %}'>
	<img 
		class='featured__image' 
		src='{{ TimberImage(post.get_field('image')).src | resize(1600) }}'
	/>
	<div class='grid featured__credits-wrapper'>
		<div class='
			grid__column 
			{% if floating %}
				
			{% else %}
				grid__column--span-3
			{% endif %}
		'><!-- dummy --></div>
		<div class="grid__column">
			{# <div class="grid__box"> #}
				<figcaption class='featured__credits text--onum'>
					{{ post.get_field('description') }}
				</figcaption>
			{# </div> #}
		</div>
	</div>
</figure>
{% else %}
<figure class='featured grid grid--bottom'>
	<div class='grid__column grid__column--span-3'>
		<div class='grid__box'>
			<img 
				class='featured__image' 
				src='{{ TimberImage(post.get_field('image')).src | resize(1600) }}'
			/>
		</div>
	</div>
	<div class='grid__column'>
		<div class='grid__box'>
			<figcaption class='featured__credits text--onum'>
				{{ post.get_field('description') }}
			</figcaption>
		</div>
	</div>
</figure>
{% endif %}