<nav role="navigation" class='navbar'>
	{% 
		include "components/menu.twig" with {
			'menu': menu.get_items
		} 
	%}
	
</nav>

{% if languages %}
<nav>
	{% include "components/lang-selector.twig" %}
</nav>
{% endif %}