{% if menu %}
	<ul class='navbar__itemlist'>
	{% for item in menu %}
		<li class="navbar__item {{item.classes | join(' ')}}">
			<a href="{{item.get_link}}">{{item.title}}</a>
			{% include "components/menu.twig" with {'menu': item.get_children} %}
		</li>
	{% endfor %}
	</ul>
{% endif %}